p {
  margin: 0;
}

.tituloMes {
  font-size: 18px;
  padding: 5px 5px 15px 5px;
}

#tituloContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dayContainer {
  width: 55px;
  height: 180px;
}

.numberContainer {
  display: flex;
  justify-content: center;
  border-width: 0px;
  border-color: black;
  border-style: solid;
  background-color: #c0bfbd;
}

.mesLinhasContainer {
  display: flex;
  margin-left: 100px;
  overflow: auto;
}

.mesLinha {
  margin-top: 10px;
  margin-bottom: 10px;
}

.areaContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: beige;
}

.osContainer {
  width: 95%;
  height: fit-content;
  display: flex;
  justify-content: center;
  background-color: #93d358;
  border-width: 1px;
  border-color: #73a744;
  border-style: solid;
  margin-top: 2px;
}

.botaoAvancarRetornar {
  font-size: 20px;
  padding: 10px;
  margin-bottom: 13px;
}

.botaoAvancarRetornar:hover {
  cursor: pointer;
}

.ContainerDepart,
.ContainerTipo {
  display: inline-block;
  background-color: white;
}

.ContainerDepart,
.ContainerTipoOs {
  width: 300px;
}

.departDiv {
  display: inline-flex;
}

.departName {
  font-size: 10px;
  background-color: white;
  height: 20px;
}

.departTittle {
  background-color: #08b0f1;
  border: black;
}

.departDa {
  display: flex;
  background-color: #08b0f1;
  font-size: 15px;
  animation: none;
  height: 23px;
  font-weight: bold;
  width: 150px;
}

.dropbtn {
  display: flex;
  background-color: white;
  font-size: 15px;
  animation: none;
  height: 23px;
  width: 150px;
}

.departamentClass {
  margin-top: 10px;
  margin-left: 7px;
}

.departTittle,
.departName {
  height: 20px;
}

.dispDia {
  display: inline-flex;
  width: 25x;
}

.horasTotaisDiv {
  display: inline-block;
  width: 25x;
  margin-left: 50px;
}

.nomeFuncDiv {
  display: inline-block;
}

.horasFuncDiv {
  display: inline-block;
  margin-left: 140px;
}

.funcHorasDiv {
  margin-bottom: 20px;
}

.tipoOsDiv {
  font-size: 15px;
  width: 150px;
  height: 20px;
}

.tipoOsTittle {
  display: inline-flex;
  background-color: #08b0f1;
  font-size: 15px;
  animation: none;
  height: 23px;
  font-weight: bold;
  width: 150px;
}

.tipoOSdivBtn {
  display: inline-block;
  align-items: left;
}

.tipoOSbtn {
  display: inline-flex;
  background-color: white;
  font-size: 15px;
  animation: none;
  width: 150px;
}

.dispDia {
  font-weight: bold;
}

.ContainerTipoOs {
  display: flex;
}

.mainContainer {
  display: inline-flex;
  margin-top: 5px;
  margin-left: 100px;
}

.Container {
  display: inline-flex;
  flex-direction: column;
}

.dropdown,
.dropdown-os {
  position: relative;
  display: inline-block;
}

.dropdown-content,
.dropdown-content-tipo {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  max-height: 240px;
  overflow-y: auto;
}

.dropdown-content a,
.dropdown-content-tipo a {
  display: block;
  text-decoration: none;
  color: black;
  margin-bottom: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-os:hover .dropdown-content-tipo {
  display: block;
}

.descOsMain {
  display: inline-flex;
}

.descDiv {
  display: flex;
  font-size: 15px;
  height: 25px;
  align-items: center;
  justify-content: center;
}

.descTittle {
  display: flex;
  font-size: 15px;
  height: 25px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 17px;
}

.ordemOs {
  width: 85px;
  text-align: center;
}

.descOs {
  width: 90px;
  text-align: center;
}

.tipoOs {
  width: 80px;
  text-align: center;
}

.mpOs {
  width: 100px;
  text-align: center;
}

.hhmpOs {
  width: 90px;
  text-align: center;
}

.tMinOs {
  width: 80px;
  text-align: center;
}

.progOs {
  width: 90px;
  text-align: center;
}

.tMaxOs {
  width: 70px;
  text-align: center;
}

.maoObraOs {
  width: 130px;
  text-align: center;
}

.containerDescOs {
  display: inline-flex;
  margin-top: 5px;
  margin-left: 20px;
}

.spanHoras {
  margin-left: 10px;
}

.mesTopClass {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 200px;
}

.mesTopTotal {
  display: inline-flex;
}

.totalDiv {
  display: flex;
  align-items: top;
  justify-content: Left;
  margin-right: 3px;
}

.horasTotal {
  margin-top: 5px;
  margin-left: 3px;
}
