p {
    margin: 0;
}

.tituloMes {
    font-size: 18px;
    margin-bottom: 8px;
    padding: 5px 5px 15px 5px;
}

#tituloContainer {
    display: flex;
    flex-direction: row;
    align-items: center;    
    margin-left: 60px;
}

.dayContainer,
.monthContainer {
    width: 55px;
    height: auto;
}

.mesNomeContainer{
    display: flex;
    width: 180px;
    justify-content: center;
}


.numberContainer {
    display: flex;
    justify-content: center;
    border-width: 0px;
    border-color: black;
    border-style: solid;
    background-color: #c0bfbd;
    font-weight: bold;
    height: 18px;
    width: 56px;
}

.numberContainerMes1 {
    display: flex;
    justify-content: center;
    border-width: 0px;
    border-color: black;
    border-style: solid;
    background-color: #c0bfbd;
    font-weight: bold;
    height: 18px;
    width: 60px;
}

.numberContainerMes2 {
    display: flex;
    justify-content: center;
    border-width: 0px;
    border-color: black;
    border-style: solid;
    background-color: #c0bfbd;
    font-weight: bold;
    height: 18px;
    width: 60px;
}
    

.mesLinhasContainer {
    display: flex;
    margin-left: 50px;
}

.mesLinha {
    margin-top: 10px;
    margin-bottom: 10px;
}

.areaContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 112%;
    background-color: beige;
    padding-top: 10px;
    padding-bottom: 20px;
    border-left: 1px solid #00000032;          
}
.areaContainerMes {
    display: flex;
    align-items: center;
    flex-direction: column;    
    height: 100%;
    background-color: beige; 
    border-left: 1px solid #00000032;                
}

.areaContainerMes2 {
    display: flex;
    align-items: center;
    flex-direction: column;    
    height: 100%;
    background-color: beige;     
    border-left: 1px solid #00000032; 
    border-right: 1px solid #00000032;            
    
}
    

.osContainer {
    width: 95%;
    height: fit-content;
    display: flex;
    justify-content: center;
    background-color: #93d358;
    border-width: 1px;
    border-color: #73a744;
    border-style: solid;
    margin-top: 2px;
}

.btnAvancar,
.btnRetornar {
    font-size: 20px;
    padding: 10px;
    margin-bottom: 13px;
    border: none;
    border-radius: 5px;
}

.btnRetornar:hover,
.btnAvancar:hover {
    cursor: pointer;
    background-color: #d8d8d8;
}

.ContainerDepart,
.ContainerTipo {
    display: inline-block;
    background-color: white;

}

.ContainerDepart,
.ContainerTipoOs {
    width: 300px;
}

.departDiv {
    display: inline-flex;
}

.departName {
    font-size: 10px;
    background-color: white;
    height: 20px;
}

.departTittle {
    background-color: #08b0f1;
    border: black;
}

.departDa {
    display: flex;
    background-color: #08b0f1;
    font-size: 15px;
    animation: none;
    height: 23px;
    font-weight: bold;
    width: 150px;
}

.dropbtn {
    display: flex;
    background-color: white;
    font-size: 15px;
    animation: none;
    height: 23px;
    width: 150px;
}

.departamentClass {
    margin-top: 10px;
    margin-left: 7px;
}

.departTittle,
.departName {
    height: 20px;
}

.dispDia {
    display: inline-flex;
    width: 25x;
}

.horasTotaisDiv {
    display: inline-block;
    width: 25x;
    margin-left: 50px;
}

.nomeFuncDiv {
    display: inline-block;
}

.horasFuncDiv {
    display: inline-block;
    margin-left: 142px;
}

.funcHorasDiv {
	overflow: auto;
	height: 105px;
    margin-bottom: 20px;
	margin-top: 6px;
}


.tipoOsDiv {
    font-size: 15px;
    width: 150px;
    height: 20px;
}

.tipoOsTittle {
    display: inline-flex;
    background-color: #08b0f1;
    font-size: 15px;
    animation: none;
    height: 23px;
    font-weight: bold;
    width: 150px;
}

.tipoOSdivBtn {
    display: inline-block;
    align-items: left;
}

.tipoOSbtn {
    display: inline-flex;
    background-color: white;
    font-size: 15px;
    animation: none;
    width: 150px;
}

.dispDia {
    font-weight: bold;
}

.ContainerTipoOs {
    display: flex;
    height: auto;
}


.mainContainer {
    display: inline-flex;
    margin-top: 50px;
    margin-left: 50px;
}

.Container {
    display: inline-flex;
    flex-direction: column;
}

.dropdown,
.dropdown-os {
    position: relative;
    display: inline-block;
}

.dropdown-content,
.dropdown-content-tipo {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    max-height: 240px;
    overflow-y: auto;
}

.dropdown-content a,
.dropdown-content-tipo a {
    display: block;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-os:hover .dropdown-content-tipo {
    display: block;
}

.descOsMainTittle {
  display: inline-flex;    
}

.descOsMainDefault{
  display: inline-flex;
  flex-direction: row;
}

.descDiv {
    display: flex;
    font-size: 15px;
    height: 22px;
    align-items: center;
    justify-content: center;
}

.descTittle {
    display: flex;
    font-size: 15px;
    height: 25px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 17px;
}

.ordemOs{
    width: 90px;
    text-align: center;
}

.atividadeOs{
    width: 100px;
    text-align: center;
}

.descOs {
    width: 110px;
    text-align: center;
    border-left: 1px solid #00000032;
    border-bottom: 1px solid #00000032;
}

.descOsDefault {
    width: 110px;
    text-align: center;   
}

.descOsMp {
    width: 172px;
    text-align: center;
    border-left: 1px solid #00000032;
    border-bottom: 1px solid #00000032;
}

.descOsName {
    width: 190px;
    text-align: center;
    border-right: 1px solid #00000032;
    border-left: 1px solid #00000032;
    border-bottom: 1px solid #00000032;
}

.tipoOs {
    width: 90px;
    text-align: center;
}

.mpOs {
    width: 130px;
    text-align: center;
}

.hhmpOs {
    width: 120px;
    text-align: center;
}

.tMinOs {
    width: 90px;
    text-align: center;
}

.progOs {
    width: 90px;
    text-align: center;
}

.tMaxOs {
    width: 90px;
    text-align: center;
}

.maoObraOs {
    width: 130px;
    text-align: center;
}

.nomeFuncOs {
    width: 90px;
    text-align: center;
}

.containerDescOsMain {
    display: inline-flex;
    margin-top: 30px;
    margin-left: 50px;
}

.containerDescOs {
    display: inline-flex;
    flex-direction: column;    
}


.spanHoras {
    margin-left: 10px;
}

.mesTopClass {
    display: flex;
    align-items: center;    
    justify-content: center;
    margin-left: 50px;
}

.containerContainer {
    display: flex;
    flex-direction: column;
    margin-right: 280px;
}

.mesTopTotal {
    display: inline-flex;
}

.totalDiv {
    display: flex;
    align-items: top;
    justify-content: Left;
    margin-right: 3px;
    margin-top: 10px;

}

.horasTotal {
    margin-top: 5px;
    margin-left: 3px;
}

.horasTotalClass {
    padding-right: 40px;
    margin-top: 10px;
}

.undoBtnStyle {
    font-size: 20px;
    padding: 10px;
    margin-bottom: 13px;
    border: none;
    border-radius: 5px;
}

.undoContainer {
    display: flex;
    margin-left: 20px;
}

.undoBtnStyle:hover {
    cursor: pointer;
    background-color: #d8d8d8;
}

.naoSelecionar {
    user-select: none; /* Impede a seleção de texto */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    -webkit-user-select: none; /* Safari */
}

.spanInfo {
  font-size: 14px
}

.mesLegendaContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 50px;
}

.legAzulDiv {
  background-color: #5e88fa6e;
  height: 15px;
  width: 40px;
  margin-right: 5px;
  margin-top: 1px;
}

.legAmareloDiv {
  background-color: #f8c41960;
  height: 15px;
  width: 40px;
  margin-right: 5px;
  margin-top: 1px;
}

.legVerdeDiv {
  background-color: #35ed452d;
  height: 15px;
  width: 40px;
  margin-right: 5px;
  margin-top: 1px;
}

.legRedDiv {
  background-color: #fea8a8;
  height: 15px;
  width: 40px;
  margin-right: 5px;
  margin-top: 1px;
}

.legendasDiv {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-content: end;
}