p {
  margin: 0;
}

.tituloMes {
  font-size: 18px;
    margin-bottom: 8px;
  padding: 5px 5px 15px 5px;
}

#tituloContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
    margin-left: 60px;
}

.dayContainer {
  width: 55px;
  height: auto;
}

.numberContainer {
  display: flex;
  justify-content: center;
  border-width: 0px;
  border-color: black;
  border-style: solid;
  background-color: #c0bfbd;
  height: 18px;
  width: 60px;
}

.mesLinhasContainer {
  display: flex;
  margin-left: 50px;
}

.mesLinha {
  margin-top: 10px;
  margin-bottom: 10px;
}

.areaContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 112%;
  background-color: beige;
  padding-top: 10px;
  padding-bottom: 20px;
  border-left: 1px solid #00000032;
}

.osContainer {
  width: 95%;
  height: fit-content;
  display: flex;
  justify-content: center;
  background-color: #93d358;
  border-width: 1px;
  border-color: #73a744;
  border-style: solid;
  margin-top: 2px;
}

.btnAvancar,
.btnRetornar {
  font-size: 20px;
  padding: 10px;
  margin-bottom: 13px;
  border: none; 
  border-radius: 5px;   
}

.btnRetornar:hover,
.btnAvancar:hover {
  cursor: pointer;
  background-color: #d8d8d8;
}

.departAndOs {
  display: flex;
}

.titleDiv {
  font-weight: bold;
}

.maoDeObraDiv {
  margin-top: 25px;
  width: 420px;
  background-color: #7cc99c;
}

.titleDepartOs {
  background-color: #08b0f1;
  color: black;
  height: 22px;
  font-weight: bold;
  width: 100px;
  padding: 2px;
  border: 1px solid black;
}

.dropbtn {
  display: flex;
  background-color: white;
  font-size: 13px;
  animation: none;
  height: 22px;
  width: 100px;
  margin-right: 20px;
}

.funcTitle {
  background-color: #08b0f1;
  color: black;
  font-weight: bold;
  border: 1px solid black;
  width: 420px;
  text-align: center;
  margin-top: 10px;
  padding: 2px;
}

.dropdown,
.dropdown-os {
  position: relative;
  display: inline-block;
}

.descOsMain {
  display: inline-flex;
}

.descDiv {
  display: flex;
  font-size: 15px;
  height: 25px;
  align-items: center;
  justify-content: center;
}

.descTitle {
  display: flex;
  font-size: 15px;
  height: 25px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 17px;
}

.ordemOs {
  width: 85px;
  text-align: center;
}

/* .descOs {
  width: 90px;
  text-align: center;
} */

.descOsMainTitle {
  display: inline-flex;    
}

.containerDescOsMain {
  display: inline-flex;
  margin-top: 50px;
}

.containerDescOs {
  display: inline-flex;
  flex-direction: column;
}

.descOsMainDefault{
  display: inline-flex;
  flex-direction: row;
}

.descOs {
  width: 110px;
  text-align: center;
  border-left: 1px solid #00000032;
  border-bottom: 1px solid #00000032;
}

.descOsDefault {
  width: 110px;
  text-align: center;   
}

.descOsMp {
  width: 172px;
  text-align: center;
  border-left: 1px solid #00000032;
  border-bottom: 1px solid #00000032;
}

.descOsName {
  width: 190px;
  text-align: center;
  border-right: 1px solid #00000032;
  border-left: 1px solid #00000032;
  border-bottom: 1px solid #00000032;
}

.tipoOs {
  width: 80px;
  text-align: center;
}

.mpOs {
  width: 100px;
  text-align: center;
}

.hhmpOs {
  width: 90px;
  text-align: center;
}

.tMinOs {
  width: 80px;
  text-align: center;
}

.progOs {
  width: 90px;
  text-align: center;
}

.tMaxOs {
  width: 70px;
  text-align: center;
}

.maoObraOs {
  width: 130px;
  text-align: center;
}

.usoDoRecursoDiv {
  margin-top: 25px;
  background-color: #7cc99c;
}

.detalhesOSDiv {
  margin-left: 50px;
  width: 1353px;
  display: flex;
  margin-top: 25px;
  flex-direction: column;
}

.detalhesOSTitle {
  background-color: #7cc99c;
}

.mesTopClass {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 200px;
}

.dropdown-content,
.dropdown-content-tipo {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  max-height: 240px;
  overflow-y: auto;
}

.dropdown-content a,
.dropdown-content-tipo a {
  display: block;
  text-decoration: none;
  color: black;
  margin-bottom: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-os:hover .dropdown-content-tipo {
  display: block;
}

.funcUsoDoRecurso {
  display: block;
  margin: 0 auto;
}

.funcTitleUsoDoRecurso {
  background-color: #08b0f1;
  color: black;
  border: 1px solid black;
  font-weight: bold;
  width: 508px;
  text-align: center;
  padding: 2px;
}

.maoDeObraRecursoContainer {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  margin-top: 20px;
}

.mesLegendaContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 50px;
}

.legVerdeDiv {
  background-color: #93d358;
  height: 15px;
  width: 40px;
  margin-right: 5px;
  margin-top: 1px;
}

.legAmareloDiv {
  background-color: #FFBF2E;
  height: 15px;
  width: 40px;
  margin-right: 5px;
  margin-top: 1px;
}

.legendasDiv {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-content: end;
}

.funcDetails {
  display: flex;
  flex-direction: column;
}

.funcDetailsTitle {
  display: flex;
  flex-direction: row;
}

.funcDetailsData {
  display: flex;
  flex-direction: row;
}

.detailsTitle {
  font-weight: bold;
  border: 1px solid black;
  width: 105px;
  text-align: center;
  padding: 2px;
}

.detailsData {
  border: 1px solid black;
  width: 105px;
  text-align: center;
  padding: 2px;
}

.usoDoRecursoTitleDiv {
  display: flex;
  flex-direction: row;
}

.usoDoRecursoTitle {
  font-weight: bold;
  border: 1px solid black;
  width: 127px;
  text-align: center;
  padding: 2px;
}

.usoDoRecursoDataDiv {
  display: flex;
  flex-direction: row;
}

.usoDoRecursoData {
  border: 1px solid black;
  width: 127px;
  text-align: center;
  padding: 2px;
}

.mesUsoDoRecurso {
  background-color: #08b0f1;
  border: 1px solid black;
  color: black;
  font-weight: bold;
  width: 57px;
  text-align: center;
  padding: 2px;
}

.ordensUsoDoRecurso {
  background-color: #08b0f1;
  border: 1px solid black;
  color: black;
  font-weight: bold;
  width: 336px;
  text-align: center;
  padding: 2px;
}

.hhDispUsoDoRecurso {
  background-color: #08b0f1;
  border: 1px solid black;
  color: black;
  font-weight: bold;
  width: 115px;
  text-align: center;
  padding: 2px;
}

.osDia {
  border: 1px solid black;
  color: black;
  width: 57px;
  text-align: center;
  padding: 2px;
}

.osNumero {
  border: 1px solid black;
  color: black;
  width: 112px;
  text-align: center;
  padding: 2px;
}

.osHhDisp {
  border: 1px solid black;
  color: black;
  width: 115px;
  text-align: center;
  padding: 2px;
}

.usoDoRecursoDetails {
  display: inline-flex;
}
